[submodule "config/alacritty/themes"]
	path = config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "share/bash-preexec"]
	path = share/bash-preexec
	url = https://github.com/rcaloras/bash-preexec
